transformers==4.46.3
accelerate
safetensors
qwen-vl-utils
Pillow
requests
tqdm
datasets
torch
matplotlib
numpy
torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121
